# Capturas ORIGINALES sin sanitizar: nunca se publican
img/SW a ERP/
# Ficheros de trabajo
_*.py
_*.png
_*.html
sanitizar_capturas.py
__pycache__/
# Maquetas descartadas y duplicados
img/control-taller.png
img/planificacion.png
img/cv-portada.png
# Capturas pendientes de sanitizar y verificar
img/taller-02-tratamientos.png
Simon_Perez_porfolio_autocontenido.html
_respaldo*.html
_log_*.txt
